<header>
  <div id="imagen">
    <img (click)="home()" src = "..\assets\output-onlinepngtools.png">
  </div>
 
 <div id="slogan">
    <h1 *ngIf='this.global.sesion==-1'>Tu mayor rival eres tú mismo</h1>
  </div>

 <nav id="menu" *ngIf='this.global.sesion!=-1'>
    <div (click)="busqueda_link()">Búsqueda</div>
    <div (click)="mis_reservas_link()">Mis reservas</div>
    <div id="cerrar" (click)="cerrar_sesion_link()">Cerrar sesión</div>
 </nav>
 
 <nav id="copia" *ngIf='this.global.sesion!=-1'>
  <div (click)="busqueda_link()">Búsqueda</div>
  <div (click)="mis_reservas_link()">Mis reservas</div>
  <div id="cerrar" (click)="cerrar_sesion_link()">Cerrar sesión</div>
</nav>

 <div id="hamburguesa" (click)="showHamb()" *ngIf='this.global.sesion!=-1'>
  <div></div>
  <div></div>
  <div></div>
</div>

</header>


<body>
<h2>Bookers</h2>
<p>Bookers es la mayor plataforma para reservar pistas de tenis y pádel o campos de fútbol en toda España. Nuestra filosofía deportiva nos llevó a entender la necesidad que existe en el jugador habitual por querer reservar pistas online a través de nuestra app o web. De esta manera, desafiamos los procesos convencionales de alquiler de campo o pista para que miles de jugadores tengan la posibilidad de practicar su deporte favorito de manera más cómoda y rápida. Si estás intentando mejorar tu técnica de pádel, tenis o fútbol y adoras el deporte, este es tu sitio. Nosotros nos encargamos de gestionar todo el proceso de reserva de pistas para que no tengas que preocuparte por nada.
</p>

<div *ngIf='reg==2' id="img_central">
  <img src="..\assets\imagen_ppal.jpg">
</div>

<div class="ini_sesion" *ngIf='reg==0'>
  <h3>Iniciar sesión</h3>
  <div class="formul">
  <mat-form-field class="example-form-field">
    <mat-label>Usuario</mat-label>
    
    <input matInput type="text" [(ngModel)]="usuario">
    <button mat-button *ngIf="usuario" matSuffix mat-icon-button aria-label="Clear" (click)="usuario=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <mat-form-field class="example-form-field">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" [(ngModel)]="psw">
    <button mat-button *ngIf="psw" matSuffix mat-icon-button aria-label="Clear" (click)="psw=''">
      <mat-icon>close</mat-icon>
    </button>
    
  </mat-form-field>
</div>

  <div class="botones">
    <button mat-raised-button  (click)="inicioSesion()" color="primary">Iniciar sesión</button>
    <p (click)="show_registro()">Registrarse</p>
    </div>
</div>


<div class="ini_sesion" *ngIf='reg==1'>
  <h3>Registro</h3>
  <div class="formul">
  <mat-form-field class="example-form-field">
    <mat-label>Correo</mat-label>
    <input matInput type="text" [(ngModel)]="correo_r">
    <button mat-button *ngIf="correo_r" matSuffix mat-icon-button aria-label="Clear" (click)="correo_r=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Usuario</mat-label>
    <input matInput type="text" [(ngModel)]="usuario_r">
    <button mat-button *ngIf="usuario_r" matSuffix mat-icon-button aria-label="Clear" (click)="usuario_r=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" [(ngModel)]="psw_r">
    <button mat-button *ngIf="psw_r" matSuffix mat-icon-button aria-label="Clear" (click)="psw_r=''">
      <mat-icon>close</mat-icon>
    </button>
    
  </mat-form-field>

</div>
  <div class="botones">
    <button mat-raised-button (click)="registro()" color="primary">Registrarse</button>
    <button mat-raised-button (click)="cancel_registro()" color="warn">Cancelar</button>
    </div>
</div>



</body>